body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.banner {
    background-image: url("img/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: azure;
    text-align: center;
    height: 450px;
    padding-top: 100px;
}

.first-header {

    font-size: 50px;

}

.first-para {
    margin-bottom: 50px;
}

.first-link {
    color: bisque;
    text-decoration: none;
    padding: 10px 40px;
    background-color: brown;
    border-radius: 5px;
}

.first-section {
    color: rgb(1, 14, 14);
    text-align: center;
    height: 450px;
    padding-top: 100px;
}

.second-para {
    margin-bottom: 80px;
    color: dimgrey;
    text-align: center;
}

.donate-amount {
    display: inline;
    color: rgb(114, 111, 107);
    font-weight: 900;
    font-size: 30px;
    padding: 30px 30px;
    background-color: blanchedalmond;
    margin-right: 20px;
}

.two {
    border: 2px solid;
}

.other-amount {
    margin-top: 80px;
    color: dimgray;
}

.hr-tag {
    width: 50%;
    margin-bottom: 70px;
}

.first-header {}

.Donate-plan {
    text-align: center;
    margin-top: 150px;
}

.building {
    justify-content: center;
    display: flex;
}

.food {
    display: inline;
    padding: 10px;
    height: 300px;
    width: 22%;
    background-color: rgb(197, 192, 199);
    margin: 10px;
    border-radius: 5px;
}

.all-header {
    font-size: 22px;
    font-weight: 900;
}

.all-img {
    margin-top: 40px;
}

.all-para {
    width: 280px;
    color: dimgray;
}

.third-div {
    background-color: blanchedalmond;
}

.half-div {
    width: 50%;
    display: block;

}

.main-div {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
}

.Their-live {
    font-size: 40px;
    font-weight: bolder;
    width: 400px;
}

.contrivute {
    height: 400px;
    width: 400px;
    margin-top: 100px;
    border-radius: 5px;
}

.para-three {
    color: dimgray;
    width: 400px;
}

.last {
    margin-bottom: 100px;
}

.left {
    margin: 80px;
}

.right {
    margin-top: 70px;
    margin-left: 100px;
}

.get-update {
    font-size: 45px;
    text-align: center;
    font-weight: 1500;
}

.last-para {
    color: dimgray;
    text-align: center;
    margin: 0 auto;
}

.last-section {}

.last-div {
    justify-content: center;
    display: flex;
    padding: 90px;
    background-color: blanchedalmond;
    margin: 40px 230px;
}

.input-mail {
    height: 40px;
    width: 300px;
    background-color: rgb(173, 169, 164);
    border: 0px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe {
    height: 42px;
    width: 150px;
    background-color: rgb(104, 92, 92);
    border: 0px solid;
    color: aqua;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::placeholder {
    font-size: 15px;
    font-weight: 700;
    padding-left: 15px;
}

.footer {
    height: 180px;
    width: 100%;
    background-color: rgb(0, 0, 3);
    margin-top: 100px;
}

h2 {
    text-align: center;
    color: rgb(117, 61, 61);
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
h6{
    text-align: center;
    color: rgb(233, 232, 232);
    font-size: 10px;
    font-weight: 100;
}